[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
streamlit = "*"
requests = "*"
sqlalchemy = "*"
openai = "*"
jinja2 = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.12"
